.chronHeaderText {
  margin-right: auto;
  cursor: pointer;
}
.chronHeader1 {
  width: 150px;
  height: 30px;
  margin-left: auto;
}
.chronHeader2 {
  width: 240px;
  height: 30px;
}
.chronHeader3 {
  width: 106px;
  height: 30px;
}
#firstChronHeader {
  margin-left: 11px;
}
.chronHeaderText2 {
  margin-left: 2px;
  margin-right: auto;
  cursor: pointer;
}
.stagedChronDiv {
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: center;
  overflow: hidden;
}
.stagedChronDate {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: center;
  overflow: hidden;
}
.stagedChronType {
  margin-right: 50px;
  width: 60px;
}
.stagedChronPerson {
  display: flex;
  flex-direction: row;
  width: 230px;
  justify-content: center;
  overflow: hidden;
  margin-right: 20px;
}
.stagedChronPlace {
  display: flex;
  flex-direction: row;
  width: 190px;
  justify-content: flex-start;
  overflow: hidden !important;
  margin-right: 20px;
  height: 28px;
  align-items: center;
}
.stagedChron {
  margin-right: auto;
  margin-left: 10px;
  font-family: Cabin;
  margin-bottom: 0;
  font-size: 20px;
  align-items: center;
  overflow: hidden;
}
.stagedChron2 {
  margin-right: auto;
  /*margin-left: 83px;*/
  font-family: Cabin;
  margin-bottom: 0;
  font-size: 20px;
  align-items: center;
  overflow: hidden;
}
.stagedChron3 {
  margin-right: auto;
  font-family: Cabin;
  margin-bottom: 0;
  font-size: 20px;
  align-items: center;
  overflow: hidden;
  height: 28px;
}
