.main-map-header {
  background-color: #E9EBEE;
  width: 100%;
  height: 100%;
}
.dateLegend {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}
.mainMap {
  display: flex;
  flex-direction: row;
  min-height: 800px;
}
.dateToggle {
  display: flex;
  flex-direction: row;
  border: 2px solid silver;
  width: 240px;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  margin-bottom: 30px;
}
.legendDiv {

}
.mapArrow {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
  justify-content: center;
  font-size: 28px;
}
.mapDate {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
}
.mapDateContents {
  display: flex;
  align-items: center;
  font-family: CabinMi;
}
.mapDateText {
  margin-left: 5px;
}
.starAge {
  font-family: CabinMI;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.svg-map {
  /*height: 1400px;*/
  width: 1400px;
  padding-top: 75px;
}
.map {
  width: 100%;
  /*height: 1400px;*/
  display: flex;
  justify-content: center;
}
.ageInput {
  margin-left: 20px;
  width: 60px;
}
.legends {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.legendHeader {
  text-align: center;
  font-family: CabinMI;
}
.bufferLegend {
  background-color: silver;
  height: 3px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.legendType {
  text-align: center;
  font-family: Cabin;
}
#legend {
  display: none;
  height: 600px;
  width: 340px;
  background-color: white;
  border: 2px solid silver;
  border-radius: 5px;
  flex-direction: column;
}
.legendToggle {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  width: 240px;
  float: left;
}
