@font-face {
   font-family: CabinMI;
   src: url("./fonts/Cabin/Cabin-MediumItalic.ttf");
   format("opentype");
   font-weight: 700;
}
@font-face {
   font-family: SSP-Light;
   src: url("./fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
   format("opentype");
   font-weight: 700;
}
@font-face {
   font-family: SSP-LI;
   src: url("./fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf");
   format("opentype");
   font-weight: 700;
}



.main-detail {
  width: 100%;
  height: 100vh;
  background-color: #E9EBEE;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/*Begin styling of person name section*/
.person-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.btn {
  background-color: #640FF3;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
}
.btn:hover {
  background-color: #0000e6;
  color: white;
}
.button-group {
  display: flex;
  flex-direction: row;
}
.detail-names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.buffer-line {
  background-color: silver;
  height: 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*End styling of person name section*/

/*Begin styling of connections section*/
.detail-input {
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  border-radius: 3px;
}
.innerInfo {
  box-shadow: 3px 3px 3px #CCCCCC;
  flex-direction: column;
  width: 30%;
  background-color: white;
  height: 200px;
  overflow: scroll;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
}
.input-box {
  background-color: #0000e6;
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
}
.titleRow {
  text-align: center;
  width: 100%;
  background-color: #3B42AF;
  height: 35px;
  color: white;
  display: flex;
  flex-direction: row;
}
.infoRow {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid silver;
  font-family: SSP-Light;
}
.blank-person-header {
  width: 15%;
}
.detail-title {
  font-size: 25px;
  font-weight: 550;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: brandFont;
  color: #F3C100;
}
.buttonSize {
  font-size: 1.5em;
  width: 15%;
  display: flex;
}
#detail-name {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.buttonRow {
  width: 30px;
  text-align: right;
  margin-right: 15px;
  margin-left: auto;
}
.buttonCol {
  width: 50px;
  display: flex;
  align-items: center;
}
.buffer-div {
  width: 100%;
  height: 5px;
  background-color: silver;
}

/*Begin styling of parent details section*/
.detail-modal {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EDF0FF;
  overflow: scroll;
  height: 500px;
  border: 3px solid #0C6AFA;
  border-radius: 5px;
}
.ReactModal__Overlay {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 500px;
  margin-top: 80px;
  background-color: #C2D0D7;
}
.nameCol {
  display: flex;
  align-items: center;
}
.relTypeCol {
  display: flex;
  width: 43%;
  align-items: center;
  margin-left: auto;
}
.relTypeWord {
  margin-right: 3px;
}
.ital {
  font-style: italic;
}
.personCol {
  width: 25%;
  display: flex;
  align-items: center;
}
.inner-name-div {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 100%;
}
.PR-main {
  display: flex;
  flex-direction: column;
  font-family: CabinMI;
}
.PR-row-1 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  width: 400px;
}
.PR-row-2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  width: 400px;
}
.PR-row-event {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  width: 500px;
}
.PR-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  align-items: center;
  text-align: center;
}
.PR-sDate {
  width: 150px;
}
.PR-eDate {
  width: 150px;
}

.PR-sub-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.PR-row-3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-bottom: 30px;
}
.PR-date-div {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}
.PR-title {
  width: 130px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 17px;
}
.PR-sub-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 17px;
}
.PR-drop-1 {
  width: 150px;
}
.PR-drop-2 {
  width: 150px;
  margin-right: 5px;
  margin-left: 5px;
}
.PR-drops {
  display: flex;
  flex-direction: row;
}
.PR-eDate {
  display: flex;
  justify-content: center;
}
.buffer-modal {
  background-color: silver;
  height: 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.fa-window-close-o {
  margin-left: auto;
  margin-right: 5px;
  float: right;
  background-color: white;
  color: #640FF3;
}
.modal-header {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.modal-header-1 {
  width: 20%;
}
.modal-header-2 {
  width: 60%;
}
.modal-header-3 {
  width: 20%;
}
.PR-modal-header {
  text-align: center;
  color: #F3C100;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: brandFont;
  text-shadow: -1px 0 #640FF3, 0 1px #640FF3, 1px 0 #640FF3, 0 -1px #640FF3;
}

/*End styling of parent details section*/

/*End styling of connections section*/

@media (max-width: 800px) {
  .outerContainer {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .innerInfo {
    width: 90%;
    margin-bottom: 30px;
  }
  .main-detail {
    height: 100%;
  }
  .ReactModal__Overlay {
    width: 70%;
    position: relative;
  }

  .detail-names {
    display: flex;
    flex-direction: column;
  }
  .detail-input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .button-group {
    margin-top: 10px;
  }
  .buffer-line {
    width: 70%;
  }

}
@media (max-width: 600px) {
  .relTypeCol {
    font-size: 12px;
  }
  .ReactModal__Overlay {
    width: 90%;
  }
  .PR-row-1 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .PR-row-2 {
    width: 100%;
    flex-direction: column;
  }
  .PR-row-3 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .PR-sub-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .PR-div {
    margin-bottom: 10px;
  }
  .modal-header-2 {
    font-size: 17px;
  }
}
