@font-face {
   font-family: CabinMI;
   src: url("../fonts/Cabin/Cabin-MediumItalic.ttf");
   format("opentype");
   font-weight: 700;
}
@font-face {

   font-family: SSP-Light;
   src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
   format("opentype");
   font-weight: 700;
}
@font-face {
   font-family: SSP-LI;
   src: url("../fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf");
   format("opentype");
   font-weight: 700;
}

/*body {
  background-image: url("../assets/images/smoke7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
}*/


.main-detail {
  width: 100%;
  min-height: 1200px;
  /*background-color:rgba(0, 0, 0, 0.7);*/
  background-color: #E9EBEE;
  z-index: 0;
  position: relative;
}
.outerContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.detailRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.chronology-children {
  display: flex;
  flex-direction: row;
}
.chronology-div {
  height: 400px;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.inner-chronology {
  box-shadow: 2px 2px 2px #CCCCCC;
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: 400px;
  overflow: scroll;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.chronology-edit {
  color: #640FF3;
  font-size: 1.5em;
}
.chronology-row {
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid silver;
  font-family: SSP-Light;
  font-size: 20px;
}

/*Begin styling of person name section*/
.person-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.btn {
  background-color: #640FF3;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
}
.btn:hover {
  color: white;
  background-color: #3B42AF;
}
.button-group {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}
.btn-PD {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}
.detail-names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.buffer-line {
  background-color: silver;
  height: 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
/*End styling of person name section*/

/*Begin styling of connections section*/
.detail-input {
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  border-radius: 3px;
}
.innerInfo {
  box-shadow: 2px 2px 2px #CCCCCC;
  flex-direction: column;
  width: 500px;
  background-color: white;
  height: 350px;
  overflow: scroll;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  /*border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;*/
}
.input-box {
  background-color: #0000e6;
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
}
.titleRow {
  text-align: center;
  width: 100%;
  background-color: #3B42AF;
  height: 35px;
  color: white;
  display: flex;
  flex-direction: row;
}
.infoRow {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid silver;
  font-family: SSP-Light;
  height: 40px;
  font-size: 20px;
}
.blank-person-header {
  width: 15%;
}
.detail-title {
  font-size: 25px;
  font-weight: 550;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: cabin;
  color: #E9EBEE;
}
.buttonSize {
  font-size: 1.5em;
  width: 15%;
  display: flex;
}
#detail-name {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.buttonRow {
  width: 30px;
  text-align: right;
  margin-right: 15px;
  margin-left: auto;
}
.buttonCol {
  width: 50px;
  display: flex;
  align-items: center;
}
.buffer-div {
  width: 100%;
  height: 5px;
  background-color: silver;
}

/*Begin styling of parent details section*/
.detail-modal {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow: scroll;
  height: 575px;
  border: 3px solid #640FF3;
  border-radius: 5px;
  z-index: 0;
}
.PR-title {
  font-size: 30px;
}
.ReactModal__Overlay {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 600px;
  margin-top: 80px;
  background-color: #C2D0D7;
}

.nameCol {
  display: flex;
  align-items: center;
}
.relTypeCol {
  display: flex;
  width: 43%;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}
.relTypeCol2 {
  display: flex;
  width: 60%;
  align-items: center;
  margin-left: 50px;
  justify-content: flex-end;
}
.relTypeWord {
  margin-right: 3px;
  cursor: pointer;
}
.ital {
  font-style: italic;
  margin-left: auto;
  margin-right: 20px;
}
.ital2 {
  font-style: italic;
  margin-right: 20px;
  height: 35px;
}
.ital3 {
  font-style: italic;
  margin-right: 10px;
  overflow: hidden;
  height: 35px;
  text-align: right;
}
.personCol {
  width: 25%;
  display: flex;
  align-items: center;
}
.inner-name-div {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 100%;
}
.inner-event-name {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 100%;
  font-size: 25px;
  font-family: SSP-Light;
}
.PR-main {
  display: flex;
  flex-direction: column;
  font-family: CabinMI;
}
.event-main {
  display: flex;
  flex-direction: column;
  font-family: CabinMI;
}
.PB-main {
  display: flex;
  flex-direction: column;
  font-family: CabinMI;
}
.PR-row-1 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  width: 600px;
}
.PR-row-2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  width: 600px;
}
.event-row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
.Select-control {
  height: 50px;
  width: 250px;
}
.Select-single {
  width: 250px;
}
.Select-value-label {
  font-size: 20px;
}
.Select-value {
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.PR-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;
  text-align: center;
}
.PR-sDate {
  width: 100%;
  display: flex;
  justify-content: center;
}
.PR-eDate {
  width: 300px;
  display: flex;
  justify-content: center;
}
.event-context {
  height: 300px;
  width: 100%;
}
.PR-sub-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.PR-row-3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-bottom: 30px;
}
.PR-date-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.eventTitle {
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: CabinMI;
}
.PR-sub-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 17px;
}
.PR-drop-1 {
  width: 250px;
}
.PR-drop-name {
  width: 250px;
}
.PR-drop-2 {
  width: 250px;
}
.PR-drops {
  display: flex;
  flex-direction: row;
  width: 250px;
}
.PR-eDate {
  display: flex;
  justify-content: center;
}
.buffer-modal {
  background-color: silver;
  height: 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.fa-window-close-o {
  margin-left: auto;
  margin-right: 5px;
  float: right;
  background-color: white;
  color: #640FF3;
  cursor: pointer;
}
.modal-header {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.modalFooterButton {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 70px;
}
.modal-delete {
  margin-right: 24px;
  margin-left: auto;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 70px;
  background-color: #FA0008;
}
.event-context-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-context {
  width: 90%;
}
.eventInput {
  width: 100%;
  height: 300px;
  overflow: scroll;
  font-size: 20px;
  border-radius: 5px;
}
.delete-modal {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-left: auto;
  width: 50%;
  margin-right: auto;
}
.event-delete-modal {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  width: 200px;
  margin-right: auto;
}
.modal-header-1 {
  width: 10%;
}
.modalH {
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: CabinMI;
}
.modalClose {
  margin-left: 600px;
  width: 100px;
  margin-bottom: 40px;
  z-index: 1;
  position: fixed;
  margin-top: 15px;
}
.PR-modal-header {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: CabinMI;
  width: 100%;
  /*text-shadow: -1px 0 #640FF3, 0 1px #640FF3, 1px 0 #640FF3, 0 -1px #640FF3;*/
}
.modalFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eventModalFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.modalFooterBuffer {
  width: 25%;
  height: 100%;
  margin-top: 25px;
}

/*End styling of parent details section*/

/*End styling of connections section*/
#media (max-width: 1280px) {
  .PR-row-1 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .PR-row-2 {
    width: 100%;
    flex-direction: column;
  }
  .PR-row-3 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .PR-sub-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .PR-div {
    margin-bottom: 10px;
  }
  .modal-header-2 {
    font-size: 17px;
  }
  .chronology-div {
    width: 95%;
  }
  .delete-modal {
    margin-bottom: 25px;
  }
  .ReactModal__Overlay {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  /*.PR-row-1 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .PR-row-2 {
    width: 100%;
    flex-direction: column;
  }
  .PR-row-3 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }*/
  /*.PR-sub-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }*/
  /*.PR-div {
    margin-bottom: 10px;
  }
  .modal-header-2 {
    font-size: 17px;
  }*/
}
@media(max-width: 1000px) {
  .PR-modal-header {
    font-size: 23px;
  }
  .ReactModal__Overlay {
    width: 70%;
  }
}

@media (max-width: 880px) {
  .outerContainer {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .innerInfo {
    width: 90%;
    margin-bottom: 30px;
  }
  .main-detail {
    height: 100%;
  }
  /*.ReactModal__Overlay {
    width: 70%;
    position: relative;
  }*/
  .parents-relationships {
    flex-direction: column;
  }
  .chronology-div {
    width: 90%;
  }
  .detail-names {
    display: flex;
    flex-direction: column;
  }
  .detail-input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .button-group {
    margin-top: 10px;
  }
  /*.buffer-line {
    width: 70%;
  }*/
  /*.PR-main {
    height: 700px;
  }*/
  .PB-main {
    height: 560px;
  }
}
