.main-detail {
  width: 100%;
  height: 100vh;
  background-color: #F8F8FA;
}

.outerContainer {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.innerInfo {
  flex-direction: column;
  width: 30%;
  background-color: white;
  height: 200px;
  overflow: scroll;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
}

.titleRow {
  text-align: center;
  width: 100%;
  background-color: #0000e6;
  height: 35px;
  color: white;
  display: flex;
  flex-direction: row;
}

.infoRow {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.blank-person-header {
  width: 15%;
}
.detail-title {
  font-size: 25px;
  font-weight: 550;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.buttonSize {
  font-size: 1.5em;
  width: 15%;
  display: flex;
}
#detail-name {
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}
.buttonRow {
  width: 30px;
  text-align: right;
  margin-right: 15px;
  margin-left: auto;
}
.infoRow {
  display: flex;
  flex-direction: row;
}
.buttonCol {
  width: 50px;
}


@media (max-width: 800px) {
  .outerContainer {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .innerInfo {
    width: 90%;
    margin-bottom: 30px;
  }
  .main-detail {
    height: 100%;
  }
}
@media (max-width: 600px) {

}
