.staged-people-list {
  background-color: white;
  width: 100%;
  height: 500px;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid silver;
  border-radius: 5px;
}
.comparisonList {
  background-color: white;
  width: 600px;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  /*border: 1px solid silver;*/
  border-radius: 5px;
  margin-bottom: 10px;
}
.parentComparisonList {
  background-color: white;
  width: 100%;
  height: 180px;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 70px;
}
.pairBondComparisonList {
  background-color: white;
  width: 100%;
  max-height: 400px;
  /*overflow: scroll;*/
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.staged-item {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid silver;
  margin-left: auto;
  margin-right: auto;
}
.stagedPerson {
  font-family: SSP-Light;
  height: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  border-bottom: 1px solid silver;
  margin-left: auto;
  margin-right: auto;
}
.stagedRelType {
  width: 65px;
}
.staged-name-div {
  display: flex;
  flex-direction: row;
  width: 350px;
}
.stagedNameDiv2 {
  display: flex;
  flex-direction: row;
  width: 260px;
  overflow: hidden;
}
.stagedNameDiv3 {
  display: flex;
  flex-direction: row;
  width: 240px;
  overflow: hidden;
}
.stagedStartDate {
  margin-right: auto;
  margin-left: 10px;
}
.comparisonNameDiv {
  display: flex;
  flex-direction: row;
  width: 250px;
}
.staged-name {
  margin-right: 5px;
  font-family: Cabin;
  margin-bottom: 0;
  font-size: 20px;
  align-items: center;
  overflow: hidden;
}
.staged-container {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.stagedComparison {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
.staged-header-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: CabinMI;
}
.staged-people-header-1 {
  width: 300px;
}
.staged-date {
  display: flex;
  align-items: center;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}
.stagedHB {
  display: flex;
  align-items: center;
  width: 80px;
  margin-right: auto;
  margin-left: 31px;
}
.stagedHDob {
  display: flex;
  align-items: center;
  width: 80px;
  margin-right: auto;
  margin-left: 44px;
}
.stagedHD {
  display: flex;
  align-items: center;
  width: 83px;
  margin-right: auto;
  margin-left: 47px;
}
.staged-header {
  width: 25%;
  height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.stagedElement {
  width: 25%;
  text-align: center;
}
.stagedPersonOne {
  width: 80px;
  height: 30px;
  margin-right: 181px;
}
.stagedPersonTwo {
  width: 80px;
  height: 30px;
  margin-right: 160px;
}
.stagedHeaderReview {
  margin-left: auto;
  width: 40px;
}
.stagedHeaderType {
  margin-right: 60px;
}
.stagedPBHeaderReview {
  margin-left: auto;
  width: 40px;
  margin-right: 12px;
}
.stagedParentHeader {
  margin-right: 223px;
}
.stagedChildHeader {
  margin-right: 210px;
}
.stagedType {
  margin-right: 38px;
}
.staged-sex {
  width: 30px;
}
#stage-buffer {
  margin-left: auto;
  width: 35px;
}
.check-duplicate {
  margin-left: auto;
  margin-right: 5px;
  width: 40px;
}
.comparisonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stagedHeader {
  text-align: center;
}
.stagedHeader1 {
  text-align: left;
  border-bottom: 2px solid silver;
  margin-bottom: 20px;
}
.stagedH3 {
  font-family: CabinMI;
}
.stagedButton {
  margin-left: auto;
}
.mappedMatches {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.pencil2 {
  float: right;
}
.stagedPR {
  display: flex;
  flex-direction: row;
  width: 95%;
}
.stagedButton {
  margin-left: auto;
  margin-right: 5px;
}
.button4 {
  width: 50px !important;
  background-color: #640FF3;
  color: white;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.stagedParentStartDate {
  width: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 28px;
}
.stagedParentType {
  /*margin-left: 52px;*/
}
.stagedChild {
  width: 175px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.stagedChildFName {
  /*font-family: Cabin;*/
  margin-bottom: 0;
  font-size: 20px;
  align-items: center;
  overflow: hidden;
  height: 28px;
  width: 80px;
}
.stagedChildLName {
  /*font-family: Cabin;*/
  margin-bottom: 0;
  font-size: 20px;
  align-items: center;
  overflow: hidden;
  height: 28px;
  width: 80px;
}
.modalH1 {
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: CabinMI;
  margin-bottom: 30px;
}
.stagedTypeDate {
  margin: 0;
  overflow: hidden;
}
.stagedModalClose {
  margin-left: 640px;
  margin-bottom: 50px;
  margin-top: 0px;
  top: 135px;
  width: 100px;
  z-index: 1;
  position: fixed;
}
.stagedMapped {
  overflow: scroll;
  width: 100%;
  max-height: 300px;
}
