.staged-people-list {
  background-color: white;
  width: 100%;
  height: 500px;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid silver;
  border-radius: 5px;
}
.comparisonList {
  background-color: white;
  width: 600px;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  /*border: 1px solid silver;*/
  border-radius: 5px;
  margin-bottom: 10px;
}
.staged-item {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid silver;
  margin-left: auto;
  margin-right: auto;
}
.stagedPerson {
  font-family: SSP-Light;
  height: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  border-bottom: 1px solid silver;
  margin-left: auto;
  margin-right: auto;
}
.staged-name-div {
  display: flex;
  flex-direction: row;
  width: 350px;
}
.comparisonNameDiv {
  display: flex;
  flex-direction: row;
  width: 250px;
}
.staged-name {
  margin-right: 5px;
  font-family: Cabin;
  margin-bottom: 0;
  font-size: 20px;
  align-items: center;
}
.staged-container {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.stagedComparison {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
.staged-header-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: CabinMI;
}
.staged-people-header-1 {
  width: 300px;
}
.staged-date {
  display: flex;
  align-items: center;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}
.stagedHB {
  display: flex;
  align-items: center;
  width: 80px;
  margin-right: auto;
  margin-left: 31px;
}
.stagedHDob {
  display: flex;
  align-items: center;
  width: 80px;
  margin-right: auto;
  margin-left: 44px;
}
.stagedHD {
  display: flex;
  align-items: center;
  width: 83px;
  margin-right: auto;
  margin-left: 47px;
}
.staged-header {
  width: 25%;
  height: 30px;
  text-align: center;
}
.stagedElement {
  width: 25%;
  text-align: center;
}
.stagedHeaderReview {
  margin-left: auto;
  margin-right: 4px;
}
.staged-sex {
  width: 30px;
}
#stage-buffer {
  margin-left: auto;
  width: 35px;
}
.check-duplicate {
  margin-left: auto;
  margin-right: 8px;
}
.comparisonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stagedHeader {
  text-align: center;
}
.stagedHeader1 {
  text-align: left;
  border-bottom: 2px solid silver;
  margin-bottom: 20px;
}
.stagedH3 {
  font-family: CabinMI;
}
.stagedButton {
  margin-left: auto;
}
.mappedMatches {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
